h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
}

/*  */

.main_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_menu nav {
  background: none;
}

/* paginagtion css */
.pagination_sec li button {
  border: none;
  padding: 0 0;
  background: #032409;
  color: #ffffff;
  margin: 0 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_sec li[aria-current="page"] button {
  background: #025e13;
}
.pagination_sec li button svg {
  font-size: 25px;
}
/* paginagtion css */
.main_menu ul li {
  position: relative;
  padding: 0 15px;
  margin: 0;
}

.main_menu ul li a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
}

.main_menu ul li a:hover,
.main_menu ul li a.active {
  color: #800080;
}

/*  */

.main_menu ul li.get_started a:hover {
  color: #ffffff;
}

.main_menu ul ul {
  display: none;
  position: absolute;
  left: 0;
  background: #ffffff;
  width: 300px;
  padding: 10px;
}

.main_menu ul li:hover ul {
  display: block;
}

.main_menu ul ul li a {
  color: #231000 !important;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.main_menu ul ul li a:hover {
  color: #305eff !important;
}

/* add css for login start here */

.login_area {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  border: #ded7cf 1px solid;
  border-radius: 10px;
  padding: 40px 60px;
  max-width: 600px;
  width: 100%;
}

.login_box input[type="text"],
.login_box input[type="email"],
.login_box input[type="password"] {
  font-size: 14px;
  line-height: 16px;
  color: #231000;
  border: none;
  width: 100%;
}

.login_box input[type="text"]:focus,
.login_box input[type="email"]:focus,
.login_box input[type="password"]:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* add css for login ends here */

/*
 *  STYLE 3
 */

.force-overflow {
  min-height: 300px;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2b2a2a;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #2b2a2a;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #a1a1a2;
}

/*  */

.home_banner_area {
  padding-top: 100px;
  padding-bottom: 500px;
  background: #f7f5ff url(../imagesource/banner_bg_new.png) no-repeat center
    bottom;
}

/* Home banner css start here */

/* .home_banner_area {
  background: url(../imagesource/banner_bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
} */
/* 
.why_choose_us_section {
  background: url(../imagesource/why_choose_bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
}

.courses_learning_section {
  background: url(../imagesource/Courses_Learning.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
}

.level_up_process_section {
  background: url(../imagesource/level_up_process_section_bg.png) no-repeat
    center center;
  background-size: cover;
  padding: 60px 0;
}
.level_up_process_cont_section {
  background: url(../imagesource/level_up_process_section_cont_bg.png) no-repeat
    0 0;
  padding-bottom: 30px;
  margin-left: -138px;
} */

.level_up_process_cont_section ul li {
  padding-left: 250px;
  margin-bottom: 90px;
}
.level_up_process_cont_section ul li:nth-child(2n) {
  padding-left: 320px;
  margin-bottom: 90px;
}
.level_up_process_cont_section ul li:last-child {
  padding-left: 260px;
  margin-bottom: 60px;
  padding-top: 15px;
}

/* .play_one_section {
  background: url(../imagesource/play_one_bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 80px 0;
}

.chese_dark_section {
  background: url(../imagesource/chess_bg_dark_full.png) no-repeat 0 0;
  background-size: cover;
  padding: 140px 0;
}

.our_coaches_section {
  background: url(../imagesource/Courses_Learning.png) no-repeat 0 0;
  background-size: cover;
  padding: 80px 0;
} */

.trial_class_section {
  background: #232b37;
  padding: 80px 0;
}

.plans_pricing_section {
  background: #ffffff;
  padding: 80px 0;
}

/* .testi_section {
  background: url(../imagesource/Courses_Learning.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
}

.testi_box {
  background: url(../imagesource/testi_box_bg.png) no-repeat 0 0;
  background-size: contain;
  width: 97% !important;
} */

/* Home banner css ends here */

.our_coaches_slider_section .slick-slide img {
  display: inline-block !important;
}
.our_coaches_slider_section .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #b5e48c;
}
.our_coaches_slider_section .slick-dots li button:before {
  color: #fff;
}
.our_coaches_slider_section .slick-arrow.slick-next {
  position: absolute;
  top: 104%;
  right: 46%;
  z-index: 1;
}
.our_coaches_slider_section .slick-arrow.slick-prev {
  position: absolute;
  top: 104%;
  left: 46%;
  z-index: 1;
}

.our_coaches_slider_section.testimonial_slider .slick-arrow.slick-next {
  position: absolute;
  top: 104%;
  right: 40%;
  z-index: 1;
}
.our_coaches_slider_section.testimonial_slider .slick-arrow.slick-prev {
  position: absolute;
  top: 104%;
  left: 40%;
  z-index: 1;
}

.our_coaches_slider_section .slick-list {
  padding: 20px 0;
}

.about_section {
  padding: 60px 0;
}

.courses_section_top {
  padding: 60px 0;
}
.certificate_completion_sec {
  padding: 60px 0;
}

.banner_area_section {
  position: relative;
}
.banner_area_section img {
  width: 100%;
}
.banner_area_section h1 {
  position: absolute;
  left: 10%;
  top: 40%;
}

.search_section {
  background: #ffffff !important;
  border: #a5a3ae 2px solid !important;
  color: #b7b5be;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
.search_section input[type="text"] {
  color: #b7b5be;
  font-size: 16px;
  font-weight: 500;
  background: none !important;
  border: none;
}
.search_section input[type="text"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.search_section_wrap label {
  color: rgb(93, 89, 108);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.form_area label {
  color: #a7a7a7;
}
.form_area input[type="text"],
.form_area input[type="email"],
.form_area input[type="password"] {
  background: #ffffff !important;
  border: #a5a3ae 2px solid !important;
  color: #b7b5be;
  font-size: 16px;
  font-weight: 500;
}
.form_area select {
  background-color: #ffffff !important;
  border: #a5a3ae 2px solid !important;
  color: #b7b5be;
  font-size: 16px;
  font-weight: 500;
}
.form_area textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #b7b5be;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.form_area textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* .form_area button {
  background: #800080 !important;
  width: 100%;
  cursor: pointer;
  border-radius: 0 !important;
  padding: 22px 0;
  font-size: 16px;
  border-radius: 8px !important;
}
.form_area button:hover {
  background: #000000 !important;
} */

.next_btn {
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  border: #c7488a 2px solid;
  border-radius: 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #c7488a;
  cursor: pointer;
  gap: 5px;
}
.next_btn:hover {
  color: #944293;
  border: #944293 2px solid;
}

.view_btn {
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  border: #ffffff 2px solid;
  border-radius: 25px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.view_btn:hover {
  background: #ffffff;
  color: #000000;
}

.list_item_box {
  position: relative;
}
.list_item_box:hover .list_item_box_cont {
  opacity: 1;
  transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}
.list_item_box_cont {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}

.item_scroll_section {
  height: 850px; /* set a fixed height */
  overflow-y: scroll; /* always show vertical scrollbar */
  padding: 10px;
}

.form_area button.google_btn {
  color: #232323;
  font-size: 15px;
  line-height: 40px;
  border-radius: 4px !important;
  background: #ffffff !important;
  width: auto;
  border: #747474 1px solid;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.form_area button.google_btn:hover {
  background: #000000 !important;
  color: #ffffff;
}

.form_area.form_details button {
  display: flow;
  width: auto;
  padding: 10px 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px !important;
}

.form_area label {
  color: #5d596c;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.form_area input[type="email"] {
  background: #ffffff;
  border: #a7a7a7 1px solid;
}

.sidebar_menu nav ul li a:hover {
  color: #ffffff;
  background: #904295;
  background: linear-gradient(
    180deg,
    rgba(144, 66, 149, 1) 0%,
    rgba(183, 70, 140, 1) 64%,
    rgba(224, 75, 132, 1) 100%
  );
  border-radius: 6px;
}

/* .checkmate_section {
  background: url(../imagesource/checkmate_section_bg.png) no-repeat 0 0;
  background-size: contain;
  padding: 20px 30px 216px;
  margin-bottom: 20px;
} */

.register_image {
  background: url(../imagesource/register_stepone.png) no-repeat 0 0;
  background-size: cover;
}
.login_image {
  background: url(../imagesource/login_bg.png) no-repeat 0 0;
  background-size: cover;
}

.month_select select {
  background-color: #f8f4f4;
  color: #514f4f;
  border: none;
  border-radius: 20px;
  width: 90px;
  height: 40px;
}
.my_courses_box.disable_my_courses_box {
  position: relative;
}
.my_courses_box.disable_my_courses_box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* .tab_cont_area {
  border-top: #e6e6e6 1px solid;
  padding: 20px 0;
}
.tab_btn_area button {
  background: none;
  color: #969696;
  font-size: 16px;
  padding: 5px 10px;
} */

.tab_cont_area {
  border-top: #e6e6e6 1px solid;
  padding: 20px 0;
}
.tab_btn_area button {
  cursor: pointer;
  padding: 10px 20px;
}
.tab_btn_area .bg-primary-600 {
  background-color: #52b69a;
}

.accordian_section .bg-gray-900 {
  background-color: #ffffff;
}

.banner_content_area h1 span {
  position: relative;
}
.banner_content_area h1 span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ff63fb;
  height: 7px;
  width: 100%;
  display: block;
}

.getmobile_area {
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(248, 245, 253, 1) 50%,
    rgba(248, 245, 253, 1) 100%
  );
  padding: 80px 0;
}
.getmobile_area h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing_area {
  padding: 0 0;
}
.pricing_area h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_btn {
  z-index: 99999;
  cursor: pointer;
  position: absolute;
  top: 72px;
  background: #097883;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.user_face {
  position: relative;
}

.price_box {
  box-shadow: 2px 0px 16px 0px rgba(232, 232, 232, 0.75);
  -webkit-box-shadow: 2px 0px 16px 0px rgba(232, 232, 232, 0.75);
  -moz-box-shadow: 2px 0px 16px 0px rgba(232, 232, 232, 0.75);
}

.why_choose_section {
  background: #f7f5ed;
  padding: 80px 0;
}

.why_choose_section h2 {
  padding-bottom: 50px;
}
.why_choose_section h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_us_area {
  background: #ffffff;
  padding: 100px 0;
}
.about_us_area h2 {
  padding-bottom: 20px;
}
.about_us_area h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_btn {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  padding: 6px;
  height: 47px;
  position: relative;
  z-index: 2;
}
.main_btn a {
  margin-right: -10px;
}

.banner_pic_section {
  position: absolute;
  right: 0;
  bottom: -70px;
}

.small_text {
  margin-bottom: 30px;
}
.small_text p {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-left: 0;
  display: inline-block;
}
.small_text p:before {
  position: absolute;
  left: -60px;
  top: 11px;
  content: "";
  width: 50px;
  height: 2px;
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
}
.small_text p:after {
  position: absolute;
  right: -60px;
  top: 11px;
  content: "";
  width: 50px;
  height: 2px;
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
}

.offer_section {
  padding: 120px 0 80px;
}
.offer_image_box {
  position: absolute;
  left: -150px;
  top: -250px;
  z-index: 1;
}

/*  */

/* .how_it_works_section h2 span {
  color: #a536a2;
} */

.purchase_section {
  background: #ffffff;
}

.purchase_section h2 span {
  color: #a536a2;
}

.testimonials_section {
  background: #20003b;
}

.subscription_tab_section .react-tabs ul {
  display: flex;
  justify-content: space-between;
  background: #fbfbfb;
  border: #e1e6fe 1px solid;
  padding: 8px;
  border-radius: 14px;
  margin: 0 auto 30px;
  width: 260px;
}

.subscription_tab_section
  .react-tabs
  ul
  .react-tabs__tab.react-tabs__tab--selected {
  background: #ffffff;
  color: #92278f;
  border: #e7ebff 1px solid;
  border-radius: 12px;
  font-weight: 600;
}
.subscription_tab_section
  .react-tabs
  ul
  .react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}

.subscription_tab_section .react-tabs ul .react-tabs__tab {
  color: #797878;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}

.most_popular_bg {
  background: #0a49a0;
  background: linear-gradient(
    0deg,
    rgba(10, 73, 160, 1) 0%,
    rgba(9, 110, 138, 1) 50%,
    rgba(9, 121, 131, 1) 100%
  );
}

.banner_search_area input[type="text"] {
  background: #ffffff;
  border: none;
  color: #c2c2c2;
  height: 45px;
}
.banner_search_area.dashboard_search input[type="text"] {
  background: #404040;
  border: none;
  color: #e0e0e0;
  height: 45px;
  border: #404040 1px solid;
}
.banner_search_area input[type="text"]::placeholder {
  color: #c2c2c2;
}
.banner_search_area select {
  background-color: #ffffff;
  color: #c2c2c2;
  height: 45px;
  border: #c2c2c2 1px solid;
}
.banner_search_area.dashboard_search select {
  background-color: #404040;
  color: #e0e0e0;
  height: 45px;
  border: #404040 1px solid;
}
.banner_search_area input[type="text"]:focus {
  border: none;
  box-shadow: none;
}

.prediction_section {
  background: #ffffff url(../imagesource/prediction_bg.png) no-repeat center top;
  background-size: cover;
  padding: 360px 0 20px;
  margin-top: -250px;
}

.prediction_section table tr th {
  background: #ffffff;
}
.prediction_section table tr {
  background: #ffffff;
  border-bottom: none;
}
.prediction_section table tr:hover {
  background: #f1f1f1;
}

/* .key_benefits_section h2 span {
  color: #083991;
} */

.resume_templates_section {
  background: url(../imagesource/resume_templates_bg.png) no-repeat center top;
  background-size: cover;
  padding: 100px 0 100px;
}

.gold_card_box {
  background: url(../imagesource/business_bg.png) no-repeat center top;
  background-size: cover;
}

.dashboard_search_section input[type="text"] {
  background: none;
  border: none;
  color: #727272;
  height: 45px;
  font-weight: 400;
  padding: 0 20px;
}

/*  */

.tradingview-widget-container iframe {
  height: 500px !important;
}

.dashboard_wrapper {
  gap: 0;
}

.common-section-box-content input[type="text"] {
  background-color: #ffffff;
  border: #d4d4d4 1px solid;
  color: #bdbdbd;
}

.label__link-dzbd7lyV {
  display: none !important;
}

.form_area button.sign_up_btn {
  background: none !important;
  padding: 0 !important;
  width: auto !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
  color: #046d78;
}
.form_area button.sign_up_btn:hover {
  color: #000000;
}

.header_menu ul li {
  float: left;
  margin-right: 20px;
}

.spot_recommenda_bg {
  background: #677ce8;
  background: linear-gradient(
    90deg,
    rgba(103, 124, 232, 1) 0%,
    rgba(116, 77, 166, 1) 72%,
    rgba(116, 77, 166, 1) 100%
  );
}
.leveraged_recommendations_bg {
  background: #9e1ae4;
  background: linear-gradient(
    90deg,
    rgba(158, 26, 228, 1) 0%,
    rgba(201, 38, 181, 1) 72%,
    rgba(245, 50, 132, 1) 100%
  );
}
.prifile_bg {
  background: #63809f;
  background: linear-gradient(
    90deg,
    rgba(99, 128, 159, 1) 0%,
    rgba(170, 163, 164, 1) 72%,
    rgba(214, 203, 163, 1) 100%
  );
  border-radius: 15px 15px 0 0;
  height: 100px;
}

.short_term_spot {
  position: relative;
}
.short_term_spot:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #e72051;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}
.long_term_spot {
  position: relative;
}
.long_term_spot:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #7ede29;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}

.short_term_leveraged {
  position: relative;
}
.short_term_leveraged:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #3ce5e7;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}
.long_term_leveraged {
  position: relative;
}
.long_term_leveraged:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #fc770b;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}

.account_setting_section label {
  font-size: 14px;
  line-height: 26px;
  color: #aaaaaa !important;
  font-weight: 400;
}
.account_setting_section input[type="text"] {
  background: #404040;
  color: #cdcdcd;
  border: #404040 1px solid;
  height: 45px;
}
.account_setting_section input[type="text"]::placeholder {
  color: #6a6a6a;
}
.account_setting_section input[type="password"] {
  background: #404040;
  color: #cdcdcd;
  border: #404040 1px solid;
  height: 45px;
}
.account_setting_section input[type="password"]::placeholder {
  color: #6a6a6a;
}
.accordian_section button {
  background: #f3f4f6;
  cursor: pointer;
  color: #000000;
  border: #e5e7eb 1px solid;
  font-size: 17px;
}
.accordian_section > div {
  border: #e5e7eb 1px solid;
  border-radius: 8px;
  overflow: hidden;
}
.accodian_cont {
  background: #f8fafc;
  color: #9a9a9a;
  border: none;
}
.accordian_section button:focus {
  background: none !important;
  box-shadow: none !important;
}
.accodian_cont {
  background: #f8fafc;
  color: #9a9a9a;
  border: none;
}

.testimonials_section ul li button:before {
  color: #4d3362;
  font-size: 15px;
  opacity: 1;
}
.testimonials_section ul li.slick-active button:before {
  color: #92278f;
}

.resume_templates_section ul li button:before {
  color: #ffffff;
  font-size: 15px;
  opacity: 1;
}
.resume_templates_section ul li.slick-active button:before {
  color: #a536a2;
}

.continue_width {
  background: #ffffff;
  position: relative;
}
.continue_width:before {
  background: #bcbcbc;
  position: absolute;
  content: "";
  height: 1px;
  width: 30%;
  right: 0;
  top: 10px;
}
.continue_width:after {
  background: #bcbcbc;
  position: absolute;
  content: "";
  height: 1px;
  width: 30%;
  left: 0;
  top: 10px;
}

.welcome_area {
  background: #1d5cfb;
  background: linear-gradient(
    90deg,
    rgba(29, 92, 251, 1) 0%,
    rgba(103, 69, 251, 1) 68%,
    rgba(147, 26, 250, 1) 100%
  );
}

.search_section select {
  background-color: #f3f4f6;
  border: none;
  color: #323232;
}
.search_section input[type="text"] {
  background-color: #f3f4f6;
  border: none;
  color: #323232;
}
.search_section input[type="text"]:focus {
  border: none;
  box-shadow: none;
}

/*  */

.testy_face_area {
  position: relative;
  z-index: 2;
}
.testy_face_area:before {
  content: "";
  background: url(../imagesource/testy_face_before.png) no-repeat 0 0;
  width: 35px;
  height: 35px;
  position: absolute;
  right: -18px;
  top: -12px;
  z-index: 1;
}
.testy_face_area img {
  position: relative;
  z-index: 2;
}

.testi_slider_section .slick-dots {
  padding-top: 20px;
  padding-bottom: 20px;
  position: inherit;
  list-style: none;
}
.testi_slider_section .slick-dots li {
  height: 3px;
  width: 200px;
  background: #ffffff;
  margin: 0;
}
.testi_slider_section .slick-dots li.slick-active {
  background: #ff00f8;
}
.testi_slider_section .slick-dots li button:before {
  display: none;
}

.testi_slider_section .slick-prev {
  position: absolute;
  left: 45%;
  bottom: -60px;
  top: inherit;
}
.testi_slider_section .slick-next {
  position: absolute;
  right: 45%;
  bottom: -60px;
  top: inherit;
}

.chiklet_section {
  background: url(../imagesource/chiklet_bg.png) no-repeat 0 0;
}

/*  */

.dash_header {
  background: #8dc5f9;
  background: linear-gradient(
    90deg,
    rgba(141, 197, 249, 1) 0%,
    rgba(165, 91, 191, 1) 64%,
    rgba(240, 77, 130, 1) 100%
  );
}

@media only screen and (max-width: 767px) {
  .menu_btn {
    display: inline-flex;
  }

  .main_menu nav div > div {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    position: absolute;
    right: 0;
    top: -12px;
  }

  .main_menu {
    position: absolute;
    right: 6px;
    top: 24px;
  }

  /* .main_menu ul {
    position: absolute;
    margin: 0;
    right: -10px !important;
    top: -25px;
    width: 250px;
    z-index: 100;
    background: #000000;
    text-align: center;
    padding: 15px 0 0 15px;
    border-radius: 0;
    box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -moz-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    text-align: left;
    height: 100vh;
  } */

  .main_menu ul {
    position: absolute;
    margin: 0;
    right: 70px !important;
    top: -20px;
    width: 250px;
    z-index: 100;
    background: #000000;
    text-align: center;
    padding: 25px 0 0 15px;
    border-radius: 0;
    box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -moz-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    text-align: left;
    height: 100vh;
  }

  .main_menu ul li a {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 0;
    display: block;
    font-weight: 400;
    color: #ffffff;
  }

  .plans_pricing_section {
    padding: 40px 0;
  }
  .play_one_section {
    padding: 40px 0;
  }
  .trial_class_section {
    padding: 40px 0;
  }
  .testi_section {
    padding: 40px 0;
  }
  .our_coaches_section {
    padding: 40px 0;
  }
  .chese_dark_section {
    padding: 60px 0;
  }
  .level_up_process_cont_section {
    background: #ffffff;
    margin-left: 0;
  }
  .level_up_process_cont_section ul li {
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
  }
  .level_up_process_cont_section ul li:nth-child(2n) {
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
  }
  .level_up_process_cont_section ul li:last-child {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 0;
    width: 100%;
  }
  .level_up_process_section {
    padding: 40px 0;
    background: none;
  }
  .why_choose_us_section {
    background: none;
    padding: 40px 0;
  }
  .home_banner_area {
    padding: 0 0;
    background: #f7f5ff;
  }

  .toggle_point button svg {
    fill: #000000;
  }

  .about_section,
  .courses_section_top,
  .certificate_completion_sec {
    padding: 25px 0;
  }

  .getmobile_area {
    background: #fff;
    padding: 40px 0;
  }

  .why_choose_section {
    background: #f7f5ed;
    padding: 40px 0;
  }

  .about_us_area {
    padding: 40px 0;
  }

  .about_service_box {
    background: none;
  }

  .offer_image_box {
    position: inherit;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .offer_section {
    padding: 30px 0 40px;
  }
  .banner_pic_section {
    position: relative;
    width: 50%;
    bottom: -215px;
    right: -188px;
    z-index: 1;
  }
  .main_btn {
    height: 31px;
  }

  .small_text {
    margin-bottom: 10px;
  }
  .small_text p:before {
    top: 7px;
  }
  .small_text p:after {
    top: 7px;
  }

  .prediction_section {
    background: #ffffff url(../imagesource/prediction_bg.png) no-repeat center
      top;
    background-size: cover;
    margin-top: -300px;
    padding: 310px 0 20px;
  }
  .subscription_tab_section .react-tabs ul {
    margin: 0 auto 15px;
  }

  .header_menu ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .header_menu ul li {
    float: left;
    margin-right: 0;
  }

  .testi_slider_section .slick-prev {
    left: 35%;
  }
  .testi_slider_section .slick-next {
    right: 35%;
  }
  .testi_slider_section .slick-dots li {
    width: 85px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .main_menu ul {
    right: 125px !important;
  }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .main_menu ul {
    right: 175px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
  .dashboard_wrapper {
    gap: 0;
  }
}
